
<form class="w-50 m-auto" [formGroup]='contactsForm' (ngSubmit)='saveForm()'>


  <div class = "form-group ">
    <label>Your Name:</label>
    <input formControlName = 'YourName' class="form-control"/>
    <small>YourName Must between 2 and 8</small>
    <div *ngIf= "contactsForm.controls.YourName.errors != null && contactsForm.controls.YourName.touched"  class="border border-danger p-2 m-2">
          <p class="text-danger">Name not valid</p>
        </div>
  </div>


  <div class = "form-group ">
    <label>YourMail:</label>
    <input formControlName = 'YourMail' class="form-control"/>
    <small>Mail must be valid male </small>
        <div *ngIf= "contactsForm.controls.YourMail.errors != null && contactsForm.controls.YourMail.touched" class="border border-danger p-2 m-2">
          <p class="text-danger">Mail not valid</p>
        </div>
  </div>

  <div class = "form-group ">
    <label>Subject:</label>
    <input formControlName = 'Subject' class="form-control"/>
    <small>Subject mUST BE CHAR FROM a TO z  </small>
        <div *ngIf= "contactsForm.controls.Subject.errors != null && contactsForm.controls.Subject.touched" class="border border-danger p-2 m-2">
          <p class="text-danger">Subject not valid</p>
        </div>
  </div>

  <div class = "form-group ">
    <label>YourMessage:</label>
    <textarea formControlName = 'YourMessage' class="form-control"></textarea>
  </div>

  <button  [disabled] = '! contactsForm.valid' type="submit" class="btn btn-info">Send</button>

</form>

