<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink='home'>Home </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink='about'>About </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink='contact-us'>Contact Us </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink='shop'>Shop</a>
      </li>


    </ul>

  </div>
</nav>
