<div class="test"></div>
<div class="container">
<div class="row">

    <div class="col-md-4 py-5">

        <div class="brdr w-25"></div>
        <h2 class=" py-3">Popular Moviesoio<br/> Right Now</h2>
        <p class="text-muted">Most Trending Movies this Month</p>
        <div class="brdr w-100"></div>

    </div>
    <div *ngFor="let movie of trendingAll" class="col-md-2 my-2">

        <div class="movie position-relative">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" />
    <h6 class="text-white my-2">{{movie.title == undefined ? movie.name:movie.title}}</h6>

            <div class="vote">{{movie.vote_average}}</div>
    </div>
    </div>
</div>


<div class="w-50 mx-auto my-5 py-5 d-flex">
    <i (click)='prev()' class="fas text-white fa-2x fa-arrow-alt-circle-left    "></i>
    <div class="p-3 text-white" *ngFor="let pageNumber of pageNumbers; let i =index"  (click)='changeNumber(pageNumber)'>{{pageNumber}}</div>
    <i (click)='next()' class="fas text-white fa-2x fa-arrow-alt-circle-right    "></i>

</div>
</div>
